 .block0{
    max-width: 1000px;
    margin: 0 auto;
 }

 .block1 { 
    width: 650px; 
    background: #ccc;
    padding: 5px;
    border: solid 1px black; 
    float: left;
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;

   }
   .block2 { 
    width: 300px; 
    float: left; 
    position: relative; 
   }

  .block3{
    background: #fc0; 
    padding: 5px; 
    border: solid 1px black; 
    float: left; 
    position: relative; 
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
}

/* for chatbox */

#chatbox1 {
    text-align:left;
    margin:0 auto;
    margin-bottom:10px;
    padding:5px;
    background:#fff;
    height:200px;
    width:300px;
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    overflow:auto; }

    .chatsend input[type="text"]{

     width: 50%;
    }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
.block1{
float: none;
width: 800px;
font-size: 20px;
}

.block2{
float: none;
width: 800px;
font-size: 20px;
}

.block3{
float: none;
width: 800px;
font-size: 20px;
}


}