body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
}
 
.nav ul {
  list-style: none;
  background-color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: Georgia;
  font-size: 1em;
  line-height: 20px;
  height: 20px;
  border-bottom: 1px solid #888;
}

.act_nav ul {
  
  background-color: #fff;
  text-align: left;
  padding: 0;
  margin: 0;
}

.act_nav li {
  font-family: Georgia;
  font-size: 1em;
  line-height: 20px;
  height: 20px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #005f5f;
  color: #fff;
  cursor: default;
}
 
@media screen and (min-width: 720px) {
  .nav li {
    font-family: Georgia;
    width: 150px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    text-align: center;
  }

  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 900px;
    margin: 0 auto;
  }
  .nav {
    background-color: #000;
  }
}

.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}



.btn_modal {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background: #000;
  padding: 4px 30px 4px 30px;
  cursor: pointer;
}

.btn_del {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background: red;
  padding: 4px 30px 4px 30px;
  cursor: pointer;
}


.btn_modal:hover{
  background: #005f5f;
}

.btn_del:hover{
  background: #005f5f;
}


.btn:hover {
  background: #005f5f;
 
}

.btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: #000;
  padding: 4px 50px 4px 50px;
  cursor: pointer;
}

.btn:hover {
  background: #005f5f;
 
}

.okbtn {
   -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  background: #000;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.okbtn:hover {
  background: #005f5f;
 
}


.act_btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: black;
  font-size: 24px;
  background: #f7e303;
  padding: 20px 50px 20px 50px;
  cursor: pointer;
}

.act_btn:hover {
  color: #ffffff;
  background: #005f5f;
 
}

@media screen and (max-width: 600px){
 
  .btn_del{
  font-size: 9px;
  }

  .btn_modal {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: #ffffff;
  font-size: 9px;
  background: #000;
  padding: 4px 30px 4px 30px;
  cursor: pointer;
}

  .btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  background: #000;
  padding: 2px 25px 2px 25px;
  cursor: pointer;
}

  .act_btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;

  font-family: Georgia;
  color: black;
  font-size: 18px;
  background: #f7e303;
  padding: 4px 50px 4px 50px;
  cursor: pointer;
}

#activity_container {
max-width: 380px;
margin: 0 auto;
padding: 25px 10px 0;
}

.foo {
  font-size: 80%;
}

.font_size{
  font-size: 14px;
}

}


#activity_container {
max-width: 680px;
margin: 0 auto;
padding: 25px 10px 0;
}

#competition_container {
max-width: 1000px;
margin: 0 auto;
padding: 25px 10px 0;
}

.ind_table_td {
  width: 100%;
  text-align: left; 
  border-spacing: 20px;
  border-collapse: separate;
  
}

.ind_table_td1 {
  width: 100%;
  text-align: left; 
  border-spacing: 20px;
  border-collapse: separate;
  font-size: 20px;
}

textarea {
   width:150%;
   height:100px;
   border: 1px solid #888; 
   resize: none;
}

.text_align{
text-align: justify;

}

#footer {
  clear: both;
  background: #000;
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.round-button {
    display:block;
    width:100px;
    height:100px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
    cursor: pointer;
}
.round-button:hover {
    background: #005f5f;
}

.next-div{
  float: left;
  padding-left: 30%;
  padding-top: 10%;
}

.next-diva{
  float: left;
  padding-left: 20%;
  padding-top: 10%;
}

@media screen and (max-width: 600px){
.round-button {
    width:70px;
    height:70px;
}

.next-div{
  float: left;
  padding-left: 22%;
  padding-top: 10%;
}


.ind_table_td1 {
  font-size: 18px;
}

}