input[type="email"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
 
 
}

input[type="number"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
 
 
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
}

input[type="text"].special {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 80%;
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;
}

input[type="text"].question {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 82%;
  font-family: sans-serif;
  font-size: 20px;
}

input[type="password"] {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;

}


input[type="text"]:focus {
  outline: none;
}

.colortext {
    background-color: #fff; 
}

.reg_table {
    width: 100%; 
    margin: left; 
    vertical-align: top;
    table-layout: fixed;
}

.create_activity {
    width: 95%; 
    margin: left; 
    vertical-align: top;
    table-layout: fixed;
}

.create_activity_yesno {
    width: 95%; 
    margin: left; 
    vertical-align: top;
    table-layout: fixed;
}

.select_style{
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;

}

@media screen and (min-width: 600px) {
.create_activity_yesno {
    width: 75%; 
    margin: left; 
    vertical-align: top;
    table-layout: fixed;
}
.create_activity {
    width: 50%; 
    margin: left; 
    vertical-align: top;
    table-layout: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    border-spacing: 10px;
    border-collapse: separate;
}


}

.reg_td {
    text-align: center;
    font-size: 25px; 
    padding: 10px;
    vertical-align: top;

}

.com_td {
    text-align: center;
    font-size: 25px; 
    padding: 10px;
    vertical-align: top;
    width: 80%
}

.reg_td_font {
    width: 100%;
    text-align: center;
    padding: 10px;
    vertical-align: top;
}
@media screen and (max-width: 600px){
.reg_table {
    width: 100%; 
    margin: left; 
    vertical-align: top;
}  



input[type="email"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
 
 
}

.select_style{

  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

input[type="number"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;
 
 
}

input[type="text"] {
  width: 100%;
  font-size: 14px;
}

input[type="text"].special {
  font-size: 14px;
}

input[type="text"].question {
  width: 80%;
  font-size: 14px;
}


input[type="password"] {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 14px;

}

.compet input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 150%;
  font-family: sans-serif;
  font-size: 14px;
 
}

.reg_td{
    text-align: left; 
    padding: 10px;
    vertical-align: top;
    font-size: 16px;
}

 .com_td{
    text-align: left; 
    padding: 10px;
    vertical-align: top;
    font-size: 16px;
    width: 100%;

 }

}

.compet input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  width: 150%;
  font-family: sans-serif;
  font-size: 14px;
 
}