
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.right-menu {
    margin: 0;
    overflow: hidden;
}
.right-menu  li {
    float: left;
    list-style-type: none;
    margin: 0;
}
.right-menu li a {
    color: #B8B8B8;
    display: block;
    padding: 0.05em 0.75em;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}
.right-menu li a:hover {
    color: #fff;
    text-shadow: none;
}
.right-menu li span {
font-size: 16px;
line-height: 1.2;
}
    
#container {
max-width: 980px;
margin: 0 auto;
/*padding: 25px 10px 0;*/
/*border: 1px solid #000000;*/
}
#cont {
max-width: 600px;
margin: 0 auto;
/*padding: 25px 10px 0;*/
/*border: 1px solid #000000;*/
}

#conta {
max-width: 650px;
margin: 0 auto;
/*padding: 25px 10px 0;*/
/*border: 1px solid #000000;*/
}



.wt{
  width: 50%;
}

#boarding{
  border-bottom: thick dotted #ff0000;
}

#question{
}

#activity_container {
max-width: 680px;
margin: 0 auto;
padding: 25px 10px 0;
}

h1 {
  padding: 20px 0;
  font-weight: 400;
  text-align: center;
}

h2{
  padding: 10px 0;
  text-align: center;
  font-size: 1.5em;
}

.welcomesize{
  font-size: 22px;
}

@media screen and (max-width: 600px){
h1 {
  padding: 20px 0;
  font-weight: 400;
  text-align: center;
  font-size: 1.2em;
}

.welcomesize{
  font-size: 16px;
}

#boarding{
}

#question{
  width: 100%;
}

p {
  margin: 0 0 5px;
  line-height: 1.5;
  font-size: 0.8em;
}

h2{
  padding: 10px 0;
  text-align: center;
  font-size: 1.2em;
}

.info{
  color:rgba(78, 78, 78, 0.8);
  width:100%;
  margin: 40px auto;
  text-align: center;
  font-weight:300;
  font-size: 80%;
}

}

p {
  margin: 0 0 5px;
  line-height: 1.5;
}
.info{
  color:rgba(78, 78, 78, 0.8);
  width:100%;
  margin: 40px auto;
  text-align: center;
  font-weight:300;
}
.info a {
    color: #bbb;
    text-decoration:none;
}
.info a:hover {
    color: #888;
}

.tabs {
  min-width: 320px;
  max-width: 800px;
  padding: 0px;
  margin: 0 auto;
  
}


section {
  display: none;
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
}
.tabs [type=radio] {
  display: none;   
}

.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #aaa;
  border: 1px solid #ddd;
  background: #f1f1f1;
  border-radius: 3px 3px 0 0;
}

.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
.tabs label[for*="1"]:before {
  content: "\f19a";
}
.tabs label[for*="2"]:before {
  content: "\f17a";
}
.tabs label[for*="3"]:before {
  content: "\f13b";
}
.tabs label[for*="4"]:before {
  content: "\f13c";
}

.tabs label:hover {
  color: #888;
  cursor: pointer;
}

.tabs input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 1px solid #009933;
  border-bottom: 1px solid #fff;
  background: #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2{
  display: block;
}

@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 15px;
  }

  .tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px;
  }
}    